<ComponentHeader Title="Default"
                 ExampleUrl="https://github.com/Append-IT/Blazor.Fast/blob/master/source/Append.Blazor.Fast.Documentation/Examples/Tooltip/1.razor" />
<div>
    <Button id="anchor">Hover over me</Button>
    <Tooltip anchor="anchor">Tooltip text</Tooltip>
</div>

