<ExampleHeader Component="typeof(Switch)" Example="@GetType()" />
<EditForm Model="model" OnValidSubmit="HandleValidSubmit">
    <Switch @bind-Value="model.IsChecked">
        <span>Switch</span>
        <div slot="checked-message">Light</div>
        <div slot="unchecked-message">Dark</div>
    </Switch>
</EditForm>

@code{
    private EditModel model = new EditModel();
    public class EditModel
    {
        public bool IsChecked { get; set; } = true;
    }
    private void HandleValidSubmit()
    {
        Console.WriteLine($"Value of the model is: {model.IsChecked}");
    }
}