<ExampleHeader Component="typeof(Radio)" Example="@GetType()" />
<EditForm Model="model" OnValidSubmit="HandleValidSubmit">
    <Radio @bind-Value="@model.IsChecked">Radio</Radio>
    <Button type="submit" appearance="primary">Submit</Button>
</EditForm>

@code{
    private EditModel model = new EditModel();
    public class EditModel
    {
        public bool IsChecked { get; set; } = false;
    }
    private void HandleValidSubmit()
    {
        Console.WriteLine($"Value of the model is: {model.IsChecked}");
    }
}