<ComponentHeader Title="Default"
                 ExampleUrl="https://github.com/Append-IT/Blazor.Fast/blob/master/source/Append.Blazor.Fast.Documentation/Examples/Button/1.razor" />
<Button>Button</Button>