<h3>Default</h3>
<Treeview>
    <TreeItem>
        Tree item 1
        <TreeItem>Tree item 1 - 1</TreeItem>
        <TreeItem>Tree item 1 - 2</TreeItem>
    </TreeItem>
    <TreeItem>Tree item 2</TreeItem>
</Treeview>