<div style="display:flex;justify-content:space-between;align-items:center;">
    <h1>@_componentName</h1>
    <Anchor href=@($"https://github.com/Append-IT/Blazor.Fast/blob/master/source/Append.Blazor.Fast.Documentation/Pages/{_componentName}.index.razor")
            target="_blank"
            appearance="lightweight">
        Edit this page
    </Anchor>
</div>
@Information
<Divider />
<h2>Examples</h2>
<Tabs style="padding:8px;">
    <Tab>Fast Dark</Tab>
    <Tab>Fast Light</Tab>
    <Tab>Fluent</Tab>
    <TabPanel style="background-color:#3B3B3B;">
        <SystemProvider Theme="new ThemeProvider(ThemeType.Fast)" background-color="#3B3B3B" style="width: 100%">
            @foreach (var example in _examples)
            {
            <p>
                @BuildExample(example)
            </p>
            <Divider />
            }
        </SystemProvider>
    </TabPanel>
    <TabPanel style="background-color:#FFF;">
        <SystemProvider Theme="new ThemeProvider(ThemeType.Fast)" background-color="#FFF" style="width: 100%">
            @foreach (var example in _examples)
            {
                <p>
                    @BuildExample(example)
                </p>
                <Divider />
            }
        </SystemProvider>
    </TabPanel>
    <TabPanel style="background-color:#FFF;">
        <SystemProvider Theme="new ThemeProvider(ThemeType.Fluent)" background-color="#FFF" style="width: 100%">
            @foreach (var example in _examples)
            {
                <p>
                    @BuildExample(example)
                </p>
                <Divider />
            }
        </SystemProvider>
    </TabPanel>
</Tabs>
