<h3>@Title
<Anchor href="@ExampleUrl"
            target="_blank"
            appearance="lightweight"
            style="vertical-align: middle;">
Show Code
</Anchor>
</h3>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string ExampleUrl { get; set; }
}
