@inherits LayoutComponentBase

<div class="container">
    <header>
        <h3>Fast - Blazor</h3>
    </header>

    <nav><NavMenu/></nav>

    <main>@Body</main>

    <aside>
        <!-- Sidebar / Ads -->
    </aside>

    <footer>
        <!-- Footer content -->
    </footer>
</div>