@page "/components/accordion"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Accordion)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>As defined by the W3C:</p>
        <blockquote>
            <p>An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or thumbnail representing a section of content. The headings function as controls that enable users to reveal or hide their associated sections of content. Accordions are commonly used to reduce the need to scroll when presenting multiple sections of content on a single page.</p>
        </blockquote>
        <h3 id="use-cases">Use Cases</h3>
        <ul>
            <li>
                <p>Frank finds a spelling error in the FAST documentation. He submits a pull request (PR) to fix the error and goes to eat lunch while waiting for the maintainers to review his PR. Upon returning from lunch he notices a widget on the screen saying certain status checks failed. He clicks on the headline of the widget and it reveals additional information stating that he needs to run prettier to ensure proper formatting. He clicks the headline again and the additional information collapses. Frank runs prettier and his PR is completed successfully.</p>
            </li>
            <li>
                <p>On April 16th Randy wakes up in a cold sweat because he realized he made a mistake in filing his taxes with the IRS. He opens his laptop and goes to the IRS website and sees a link to &quot;frequently asked questions&quot;. Randy sees a list of questions on the page with an arrow next to it indicating that answers are hidden. He sees a question titled, &quot;What should I do if I made a mistake on my federal turn that I&#39;ve already filed?&quot; Randy clicks the question and sees a section detailing out the exact steps to take. With his anxiety eased, Randy goes back to bed and falls asleep.</p>
            </li>
        </ul>
        <h3 id="features">Features</h3>
        <ol>
            <li>
                <p>Optionally allow only a single section to be expanded. This behavior is opt-in and not default behavior.</p>
            </li>
            <li>
                <p>Support for interactive content within the header, such as a menu button, checkbox, etc.</p>
            </li>
            <li>
                <p>Optional support for nested accordions. Ideally this behavior will &quot;just work&quot; and no special behaviors will need to be added to enable/support this. The expectation here should be that an accordion takes content and whatever content is inside the accordion panel respects its own interaction model.</p>
            </li>
        </ol>
    </Information>
</ComponentPage>