@page "/components/badge"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Badge)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p><em>Badge</em> component is used to highlight an item and attract attention or flag status, such as “New”, “Sale”, or other short phrases or a number to represent unread messages, updates available, etc..</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Typical use cases include, but are not limited to, denoting a sale or new item, flagging an item as part of a category or representing a value of unread messages.</p>
        <h3 id="features">Features</h3>
        <p>A badge should allow the following properties:</p>
        <ul>
            <li><code>fill</code>, a string that maps to author defined variables.</li>
            <li><code>circular</code>, if circular styling is desired.</li>
        </ul>
    </Information>
</ComponentPage>