@page "/components/breadcrumb"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Breadcrumb)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>A <code>fast-breadcrumb</code> component is used as a navigational aid, allowing users to maintain awareness of their locations within a program, app, or a website.</p>
        <h3 id="use-cases">Use Cases</h3>
        <ul>
            <li>
                James is browsing an ecommerce website and is looking for a few items to add to his new kitchen. He needs a knife set, and an espresso machine. He checks out <code>Home and Kitchen</code> page, then selects <code>Kitchen and Dining</code>, first category he picks is <code>Cutlery</code>, he finds the sets of knives. There is now a breadcrumb trail of the pages James has clicked through. <code>Home and Kitchen /  Kitchen and Dining / Cutlery / Knife Sets</code>
                He clicks on <code>Kitchen and Dining</code> to go back to the category of kitchen items, selects <code>Coffee and Espresso</code> finds the best one that suits his needs. If James wants to continue looking for another item for his kitchen, or other things for his home, he just needs to click on any of the links in the breadcrumb trail to continue his search.
            </li>
        </ul>
    </Information>
</ComponentPage>