@page "/components/card"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Card)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p><em>Cards</em> are snapshots of content that are typically used in a group to present collections of related information. They can represent any quickly consumable information.</p>
        <h3 id="features">Features</h3>
        <ul>
            <li>
                <p><strong>Sizing:</strong> Users want to be able to set the width and height of a single card or a set of cards.</p>
            </li>
            <li>
                <p><strong>Elevation:</strong> Users may want to set different elevations of a single card or a set of cards based on context, state (such as hover), etc.</p>
            </li>
        </ul>
    </Information>
</ComponentPage>