@page "/components/checkbox"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Checkbox)">
    <Information>
        <blockquote>
            This component can currently not be used inside a <code>EditForm</code> until <Anchor appearance="hypertext" href="https://github.com/dotnet/aspnetcore/pull/27030">this Github PR</Anchor> is merged.
        </blockquote>
        <h2 id="overview">Overview</h2>
        <p>An implementation of a checkbox as a form-connected web-component.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Used anywhere an author might otherwise use an <code>input[type=&quot;checkbox&quot;]</code></p>
        <h3 id="features">Features</h3>
        <ul>
            <li>form association</li>
            <li>focus delegation</li>
        </ul>
    </Information>
</ComponentPage>