@page "/components/datefield"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.DateField<DateTime>)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>An implementation of a generic input for date values as a form-connected web-component.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Used anywhere an author might otherwise use:</p>
        <ul>
            <li>input[type=&quot;date&quot;]</li>
        </ul>
        <h3 id="features">Features</h3>
        <ol>
            <li>Focus Delegation</li>
        </ol>
        <h3 id="supported-types">Supported types</h3>
        <ol>
            <li><code>DateTime</code></li>
            <li><code>DateTimeOffset</code></li>
        </ol>
    </Information>
</ComponentPage>