@page "/components/divider"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Divider)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>An implementation of a horizontal rule as a web-component. </p>
        <p>It would be ideal to be able to use the <Anchor appearance="hypertext" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/is"><code>is</code> global attribute</Anchor> here so that we are not recreating the native <code>hr</code> element, but that portion of the web component spec seems to be at risk with certain browser implementors, which means that by leveraging that convention the control would likely not work in certain browsers. With that in mind, it makes sense to move forward with the componentized model. In the event that the <code>is</code> convention moves forward, we should revisit this implementation to take advantage of that standard.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Used anywhere a horizontal rule might be used.</p>
    </Information>
</ComponentPage>