@page "/components/flipper"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Flipper)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>The flipper component is most often used to page through blocks of content or collections of ui elements.</p>
        <h3 id="use-cases">Use Cases</h3>
        <ul>
            <li>
                <p>Tony is looking for a new refrigerator. He goes onto his computer and navigates the browser to a site that sells appliances. He sees a list of refrigerators but not the one he wants so he clicks an arrow button (flipper) to show more. He sees a new GE Cafe that interests him and clicks on it which directs him to a purchase page.</p>
            </li>
            <li>
                <p>Bobby is blind and is also looking for a new refrigerator. He goes onto his computer and navigates the browser to the same site that sells appliances. He tabs through a list of refrigerators until he finds the one that was recommended to him by a friend. Bobby is unaware of the flipper.</p>
            </li>
        </ul>
        <h3 id="non-goals">Non-goals</h3>
        <ul>
            <li>Other button implementations</li>
        </ul>
    </Information>
</ComponentPage>