@page "/components/menu"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Menu)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>There are two components being presented as part of this specification - menu, and menu item.</p>
        <p>As defined by the W3C:</p>
        <blockquote>
            <p>A menu is a widget that offers a list of choices to the user, such as a set of actions or functions. Menu widgets behave like native operating system menus, such as the menus that pull down from the menubars commonly found at the top of many desktop application windows. A menu is usually opened, or made visible, by activating a menu button, choosing an item in a menu that opens a sub menu, or by invoking a command, such as Shift + F10 in Windows, that opens a context specific menu. When a user activates a choice in a menu, the menu usually closes unless the choice opened a submenu.</p>
        </blockquote>
        <h3 id="use-cases">Use Cases</h3>
        <ol>
            <li>
                <p>Paired with a persistent <a href="https://w3c.github.io/aria-practices/#menubutton">menu button</a> to create a dropdown menu control. An example of this might be the common <code>...</code> overflow menu patterns where the menus visual state is toggled when the menu button is clicked.</p>
            </li>
            <li>
                <p>A contextual menu triggered via right click, not paired with a menu button.</p>
            </li>
            <li>
                <p>A less common, but still conventional pattern would be a visually persistent menu docked to the side of a screen, such as the example docked to the left (ltr) in this <a href="https://www.microsoft.com/en-us/store/top-free/apps/pc">Microsoft store example</a>.</p>
            </li>
        </ol>

    </Information>
</ComponentPage>