@page "/components/numberfield"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.NumberField<int>)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>An implementation of a generic input for numerical values as a form-connected web-component.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Used anywhere an author might otherwise use:</p>
        <ul>
            <li>input[type=&quot;number&quot;]</li>
        </ul>
        <h3 id="features">Features</h3>
        <ol>
            <li>Focus Delegation</li>
        </ol>
        <h3 id="supported-types">Supported types</h3>
        <ol>
            <li><code>int</code></li>
            <li><code>long</code></li>
            <li><code>short</code></li>
            <li><code>float</code></li>
            <li><code>double</code></li>
            <li><code>decimal</code></li>
        </ol>
    </Information>
</ComponentPage>