@page "/components/radio"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Radio)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>An implementation of a radio button as a form-connected web-component. Facilitating single select from a group of visible choices.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Used anywhere an author might otherwise use an <code>input[type=&quot;radio&quot;]</code>. Used to facilitate choice where only one choice is acceptable.</p>
        <h3 id="features">Features</h3>
        <ul>
            <li>form association</li>
            <li>focus delegation</li>
        </ul>
    </Information>
</ComponentPage>