@page "/components/switch"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Switch)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p><em>Switch</em> mimics a physical switch that can be turned <strong>on</strong> or <strong>off</strong>.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Typical use cases include, but are not limited to, turning a feature on and off or showing or hiding a piece of UI</p>
        <h3 id="features">Features</h3>
        <p>A switch should allow the following properties:</p>
        <ul>
            <li><code>checked</code>, whether the switch is checked or not.</li>
            <li><code>checked-message</code>, the message that displays when the switch is checked.</li>
            <li><code>unchecked-message</code>, the message that displays when switch is not checked.</li>
            <li><code>disabled</code>, whether the switch is disabled or not.</li>
        </ul>
    </Information>
</ComponentPage>