@page "/components/tabs"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Tabs)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p><em>Tabs</em> are a set of layered sections of content that display one panel of content at a time. Each tab panel has an associated tab element, that when activated, displays the panel. The list of tab elements is arranged along one edge of the currently displayed panel.</p>
        <h3 id="use-cases">Use Cases</h3>
        <ul>
            <li>
                <p>Steve is researching for an upcoming vacation for him and his family. He opens his web browser and opens a new tab to make a rental car reservation and another for his flight information. Steve can quickly switch back and fourth between tabs to get the information he needs for the rental car reservation.</p>
            </li>
            <li>
                <p>Monika visits a website to learn how to fix her leaky sink. The website displays a vertical tab interface with each step. Monika can jump ahead steps or go back to previous steps by selecting various tabs.</p>
            </li>
        </ul>
        <h3 id="features">Features</h3>
        <ul>
            <li><strong>Orientation:</strong> Allows the tab list to be oriented horizontally above the tab content or vertically to the left or right (depending on language region) of the tab content.</li>
            <li><strong>Supplemental content:</strong> Offers a way to add content via start and end to the left and/or right (depending on language region) of the the tab list.</li>
            <li><strong>ActiveIndicator:</strong> Offers a way to add or remove an active indicator that highlights the currently active tab and animates to the next active tab. Defaults to true.</li>
            <li><strong>ActiveTab:</strong> Provides a reference to the currently active tab vis the <code>change</code> event.</li>
            <li><strong>ActiveId:</strong> Provides a way to set the active tab.</li>
        </ul>

    </Information>
</ComponentPage>