@page "/components/textarea"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.TextArea)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>An implementation of an html textarea.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Used anywhere an author might otherwise use <code>&lt;textarea&gt;&lt;/textarea&gt;</code>.</p>
        <h3 id="features">Features</h3>
        <ol>
            <li>Focus Delegation</li>
        </ol>
    </Information>
</ComponentPage>