@page "/components/textarea"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.TextArea)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>An implementation of an html textarea.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Used anywhere an author might otherwise use <code>&lt;textarea&gt;&lt;/textarea&gt;</code>.</p>
        <h3 id="features">Features</h3>
        <ol>
            <li>Focus Delegation</li>
        </ol>
        <h3 id="risks-and-challenges">Risks and Challenges</h3>
        <p>We want general feature-parity between this component and the typical corresponding element. Most of these concerns are addressed by <Anchor appearance="hypertext" href="https://github.com/microsoft/fast/pull/2723">https://github.com/microsoft/fast/pull/2723</Anchor>, but some stateful nuance will need to be handled by this component.</p>
    </Information>
</ComponentPage>