@page "/components/treeview"
<ComponentPage Component="typeof(Append.Blazor.Fast.Components.Treeview)">
    <Information>
        <h2 id="overview">Overview</h2>
        <p>A tooltip is a popup that displays information related to an element when the element receives keyboard focus or the mouse hovers over it. It typically appears after a small delay and disappears when Escape is pressed or on mouse out.</p>
        <h3 id="use-cases">Use Cases</h3>
        <p>Tooltips are often used to supplement UI elements and provide additional information. Tooltips will often provide accessible names or add additional context to other UI components (such as icon buttons). While tooltips are natively provided to elements via the title attribute, they are notoriously difficult to style. Additionally, they are only invoked on hover and not on focus.</p>
    </Information>
</ComponentPage>