<h3>Default</h3>
<Badge fill="primary" color="white">Badge</Badge>
<style>
    fast-badge, fluent-badge {
        --badge-fill-primary: rgba(255, 0, 0, 1);
        --badge-fill-secondary: #00FF00;
        --badge-fill-transparent: transparent;
        --badge-color-black: #000000;
        --badge-color-white: #FFFFFF;
    }
</style>
